In [1]:
from efficient_apriori import apriori
import pandas as pd
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpmax

Zad 1

In [2]:
db = [('Bread', 'Milk'),
                ('Bread', 'Diapers', 'Beer', 'Eggs'),
                ('Milk', 'Diapers', 'Beer', 'Cola'),
              ('Bread', 'Milk', 'Diapers', 'Beer'),
              ('Bread', 'Milk', 'Diapers', 'Cola'),
              ('Bread', 'Beer', 'Cola'),
              ('Bread', 'Milk', 'Eggs'),
              ('Bread', 'Milk'),
              ('Bread', 'Eggs'),
              ('Diapers', 'Beer', 'Cola'),
              ('Milk', 'Diapers', 'Beer', 'Cola'),
              ('Bread', 'Milk', 'Diapers', 'Beer', 'Eggs', 'Cola')]

In [3]:
encoder = TransactionEncoder()
tmp = encoder.fit(db).transform(db)
df = pd.DataFrame(tmp, columns=encoder.columns_)
df

     Beer  Bread   Cola  Diapers   Eggs   Milk
0   False   True  False    False  False   True
1    True   True  False     True   True  False
2    True  False   True     True  False   True
3    True   True  False     True  False   True
4   False   True   True     True  False   True
5    True   True   True    False  False  False
6   False   True  False    False   True   True
7   False   True  False    False  False   True
8   False   True  False    False   True  False
9    True  False   True     True  False  False
10   True  False   True     True  False   True
11   True   True   True     True   True   True

Zad 2

In [4]:
items, rules = apriori(db, min_support=0.3)
rules

[{Milk} -> {Bread},
 {Bread} -> {Milk},
 {Beer} -> {Bread},
 {Diapers} -> {Beer},
 {Beer} -> {Diapers},
 {Diapers} -> {Bread},
 {Eggs} -> {Bread},
 {Cola} -> {Beer},
 {Beer} -> {Cola},
 {Milk} -> {Beer},
 {Beer} -> {Milk},
 {Diapers} -> {Cola},
 {Cola} -> {Diapers},
 {Milk} -> {Cola},
 {Cola} -> {Milk},
 {Milk} -> {Diapers},
 {Diapers} -> {Milk},
 {Cola, Diapers} -> {Beer},
 {Beer, Diapers} -> {Cola},
 {Beer, Cola} -> {Diapers},
 {Diapers} -> {Beer, Cola},
 {Cola} -> {Beer, Diapers},
 {Beer} -> {Cola, Diapers},
 {Diapers, Milk} -> {Beer},
 {Beer, Milk} -> {Diapers},
 {Beer, Diapers} -> {Milk},
 {Milk} -> {Beer, Diapers},
 {Diapers} -> {Beer, Milk},
 {Beer} -> {Diapers, Milk},
 {Diapers, Milk} -> {Cola},
 {Cola, Milk} -> {Diapers},
 {Cola, Diapers} -> {Milk},
 {Milk} -> {Cola, Diapers},
 {Diapers} -> {Cola, Milk},
 {Cola} -> {Diapers, Milk}]

In [5]:
fpgrowth(df, min_support=0.3, use_colnames=True)

     support               itemsets
0   0.750000                (Bread)
1   0.666667                 (Milk)
2   0.583333              (Diapers)
3   0.583333                 (Beer)
4   0.333333                 (Eggs)
5   0.500000                 (Cola)
6   0.500000          (Bread, Milk)
7   0.333333       (Bread, Diapers)
8   0.416667        (Diapers, Milk)
9   0.500000        (Beer, Diapers)
10  0.333333          (Beer, Bread)
11  0.333333           (Beer, Milk)
12  0.333333  (Beer, Diapers, Milk)
13  0.333333          (Eggs, Bread)
14  0.416667           (Beer, Cola)
15  0.416667        (Cola, Diapers)
16  0.333333           (Cola, Milk)
17  0.333333  (Beer, Cola, Diapers)
18  0.333333  (Cola, Diapers, Milk)

Zad 4

In [6]:
fpmax(df, min_support=0.3, use_colnames=True)

    support               itemsets
0  0.333333          (Eggs, Bread)
1  0.333333  (Cola, Diapers, Milk)
2  0.333333  (Beer, Cola, Diapers)
3  0.333333          (Beer, Bread)
4  0.333333  (Beer, Diapers, Milk)
5  0.333333       (Bread, Diapers)
6  0.500000          (Bread, Milk)